<div class="accueil-content">
    <div class="main-hook">
        <div class="first-hook">
            <div class="lign1"></div>
            <p class="first-lines-hook"><span class="bold-style">Votez pour votre film préféré,</span><br/>
                et découvrez le classement
            </p>
        </div>

        <p class="last-lines"> au fil des jours !</p>

        <p class="members-hook">Déjà <span class="members-number">284 056</span> membres</p>

        <div id="home-buttons">
            <a id="connexion-btn" class="btn" role="button" href="#connexion">CONNEXION</a>
            <a id="inscription-btn" class="btn" role="button" href="#inscription">INSCRIPTION</a>
        </div>
    </div>
</div>