<div class="accueil-content">
    <div class="main-hook">
        <div class="first-hook">
            <p class="best-week-movie-hook">Last week, the winner was :</p>
            <p class="best-week-movie"></p>
            <p class="all-votes"><span class="movie-votes"></span><span class="week-votes"></span></p>
        </div>

        <div class="second-hook">
            <div class="lign1"></div>
            <p class="first-lines-hook"><span class="bold-style">Votez pour votre film préféré,</span><br/>
                et découvrez le classement
            </p>
        </div>

        <p class="last-lines"> au fil des jours !</p>

        <p class="members-hook">Déjà <span class="members-number"></span> membres</p>

        <div class="home-buttons">
            <button type="submit" class="connexion-btn btn">CONNEXION</button>
            <button type="submit" class="inscription-btn btn">INSCRIPTION</button>
        </div>
    </div>
</div>