/** BOOTSTRAP **************************************************************************************************************************/
.row{
    margin: 0;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.collapse:not(.show) {
    display: none;
}

.navbar {
    margin-bottom: 0;
}

body .navbar-nav {
    margin: 0;
}

.navbar-nav > li > a {
    line-height: 10px;
}

/** PAGE ******************************************************************************************************************************/
*{
    position: relative;
    top: 0;
    left: 0;
}

html, body{
    width: 100%;
    height: 100%;
}
body {
    padding : 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Fira Sans', Arial, sans-serif, Verdana;
    font-weight: 300;
    font-size: 15px;
    background: url("../images/interstellar.png") no-repeat;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-position-x: 65%;
}

p{
    margin: 0;
}

a{
    color: white;
}

ul {
    list-style-type: none;
}

.main-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(transparent 20%, #1b1b1d 80%);
}


.lign1{
    width: 4px;
    height: 80%;
    border-radius: 2px;
    background-color: #f7b436;
    display: block;
    position: absolute;
    top: auto;
    bottom: 10%;
}

.bold-style{
    font-weight: 700;
}

header, .main-content, footer{
    padding: 5%;
}

.navbar{
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}



    /** HEADER ****************************************************************/
header{
    display: flex;
}

header, .nav{
    width: 100%;
}

header .search-logout-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-top: 15px;
    padding-bottom: 15px;
}

header .logo-item {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 30px;
}

header .search-logout-item span{
    display: block;
    font-size: 20px;
}

header .logout-item {
    display: none;
    border: solid 2px #eee;
    border-radius: 20px;
    padding: 6px 12px;
    margin-left: 30px;
}

header .search-logout-item .logout-item {
    color: #eee;
    font-size: 13px;
}

.navbar-toggler{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem .75rem;
    background: none;
    border: none;
}

.navbar-toggler-icon{
    background: url("../images/ic-menu-mobile.png") no-repeat center center;
    background-size: 100% 100%;
    width: 2em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    display: block;
}


/** HOME **************************************************************/

.movie-votes {
    color: #f7b436;
}

.main-hook p{
    font-size: 26px;
}

.first-hook{
    display: none;
}

.first-lines-hook, .last-lines, .members-hook{
    margin-left: 16px;
}

p.members-hook{
    font-size: 18px;
}

.home-buttons{
    display: flex;
    flex-direction: column-reverse;
    min-width: 115px;
    width: 20%;
}

.connexion-btn, .inscription-btn{
    background-color: transparent;
    color: #f7b436;
    border: solid 2px #f7b436;
    border-radius: 20px;
    margin: 20px 0;
}

.inscription-btn{
    background-color: #f7b436;
    color: white;
    margin-left: 0;
}

    /** FOOTER **************************************************************/
footer{
    background: #1b1b1d;
    padding-bottom: 10px;
}

footer .footer-row {
    border-top: solid 0.5px rgba(192, 192, 192, 0.2);
}

footer .footer-row > ul {
    display: flex;
    margin: 5%;
    justify-content: space-between;
    padding: 0;
}

footer .logo-item{
    height: 50%;
}

footer .footer-links, footer .medias-item{
    display: flex;
}

footer .footer-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}

footer a {
    color: rgba(193, 193, 193, 0.57);
}

footer .media-items {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0;
    position: absolute;
    top: 50%;
}

footer .media-item {
    flex-wrap: wrap;
    padding-left: 0px;
    margin-bottom: 10%;
    width: 100%;
}

footer .footer-row .facebook-item, footer .footer-row .pinterest-item, footer .footer-row .instagram-item, footer .footer-row .twitter-item {
    padding: 15px 3px 15px 3px;
}

/** RESPONSIVE ********************************************************************************************************/

@media (min-width: 768px) {
    .navbar-expand-sm .navbar-toggler {
        display: none;
    }

    .home-buttons{
        display: flex;
        flex-direction: row;
    }

    .home-buttons .inscription-btn{
        margin-left: 12px;
    }

    footer .footer-row {
        padding: 2% 0;
    }

    footer .footer-row > ul {
        margin: 2% 0;
    }

    footer .logo-item{
        margin-right: 2%;
    }

    footer .footer-links{
        display: flex;
        flex-direction: row;
    }

    footer .media-items {
        flex: 1;
        width: auto;
        position: relative;
        flex-wrap: nowrap;
    }

    footer .media-item {
        width: auto;
        margin-bottom: 0;
        display: flex;
    }

}
@media (min-width: 992px) {
    body{
        background-position: center;
    }

}

@media (min-width: 1200px) {

    header, .main-content, footer{
        padding: 0 20%;
    }

    .accueil-content{
        padding: 0 20% 10% 20%;
    }



}